/* Styling for the modal overlay */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 9997;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    font-family: fantasy;
}

/* Styling for the modal content */
.modal-content {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    text-align: center;
}

/* Styling for the okay button */
.modal-okay {
    background-color: #0077ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#input-form {
    position: relative;
    /* top: 175px;
    right: 10px; */
    background-color: #818181;
    color: white;
    border: none;
    padding: 5px 12px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#browse {
    color: black;
    background-color: #818181;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#browse:hover {
    background-color: #3cae5d;
}

#add-image {
    color: black;
    background-color: #818181;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#add-image:hover {
    background-color: #3cae5d;
}